*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
.container-brig{
    width: 1200px;
    margin: 0px;
    background-position: center;

}
.Logo{
    align-items: center;
    background-image: url(../Imagens/Logo.png);
    justify-content: center;
    background-position: center;
    
}
.Sac{
    height: 45px;
    background-position: left;
}
.Pesquisa{
    height: 45px;
    background-position: left;
}
.login{
    height: 45px;
    background-position: right;
    justify-content: space-between;

}
.compras{
    height: 45px;
    background-position: right;
}

.play{
    height: 40px ;
}
.Plays{
    height: 40px;
}
.Xbox{
    height: 40px;
}
.Nitendo{
    height: 40px;
}
.Pc{
    height: 40px;
}
.Eletronicos{
    height: 40px;
}
.Geek{
    height: 40px;
}
.Categorias{
    height: 40px;
}
.Imagem{
    align-items: center;
    background-position: center;
}
.Banner{
    height: 368px;
    background-image: url(../Imagens/Banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1360px;
}
.Lançamento{
    background-image: url(../Imagens/Lançamentos.png);
    background-repeat: no-repeat;
    height: 40px;
}
.linha{
    background-position: center;
    background-repeat: no-repeat;
}
.produtos{
    background-position: center;
    display: block;


    }
.Inferior{
    height: 78px;
    background-position: center;
    background-size: cover;
}



header{
    background-color:hsla(0, 0%, 0%, 0.904) ;
    height: 180px;
    padding-top: 0px;
}
a{
    color: aliceblue;
    text-decoration:none;
    width:700px;
    
}

